#devise-background{

	background-image: url(adventure-air-aircraft-36487.jpg);
	background-size: cover;
    background-position: fixed;
	margin: 0;
	
}


#devise-log-in{
	
	background-image: url(dark-dawn-evening-327308.jpg);
	background-size: cover;
    background-position: center;
	margin: 0;
	margin-left: 38%;
	margin-right: 41%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: double gainsboro;
	border-radius: 22px;
	width: 23%;
    height: 404px;
       margin-top: 4%;

}
#sign-form-1{
	color: white;
}
.field{
	
	color: white;
}
.sign-in-form-2{

color: #f4e1c0;
	

}
.actions{
	    margin-top: 6px;
}

a{
	 text-decoration: none;
	   color: #f4e1c0;
}

