#devise-background{

	background-image: url("https://images.unsplash.com/photo-1535308559-ba4935cff15c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=85b96cf64e326591b580426d13d111c1&auto=format&fit=crop&w=634&q=80");
	background-size: cover;
    background-position: fixed;
	margin: 0;
	
}


#devise-log-in{
	
	background-image: url("https://images.unsplash.com/photo-1535397662723-41b07bff6ffa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9c9d4184b7bcf863eab99a75c08269c&auto=format&fit=crop&w=634&q=80");
	background-size: cover;
    background-position: center;
	margin: 0;
	margin-left: 38%;
	margin-right: 41%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border: double gainsboro;
	border-radius: 22px;
	width: 23%;
    height: 404px;
       margin-top: 4%;

}
#sign-form-1{
	color: white;
}
.field{
	
	color: white;
}
.sign-in-form-2{

color: #f4e1c0;
	

}
.actions{
	    margin-top: 6px;
}

a{
	 text-decoration: none;
	   color: #f4e1c0;
}

