// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	margin-top: -33px;
    margin-left: -33px;
    margin-right: -33px;
		nav{
			background-image: url(hor1.jpg);
			background-size: auto;
		    background-position: center;
			margin: 0;
			height: 34px;

			#horizontal-list{

				list-style: none;
				text-align: center;
				display: flex;
			    flex-direction: row;
			    justify-content: space-around;
			    	li{
			    		color: white;	
			    	}

			}
		}
}










#posts-index{
	
	text-align: center;

	    
			}

#material{
	
	display: flex;
	position: fixed;
    top: 34%;
     a{color: white;}
		
		color: white;
		}
#material-links{
	
	    padding-top: 16px;
	    

}
#post-title-style{
	padding-right: 14px;
}

.edit-link{
	
	    text-decoration: none;
}
#paragh-content{
	
	    padding-top: 18px;
	    color: white;
}
.show-tags{
	color: black;
}
#image-style{
	width: 300px;
	height: 300px;

}
#image-title-style{
	width: 300px;
	height: 300px;
	margin-top :13px;
	
}
#image-parent-style{
	
	    margin-top: 17px;
}
.sign-in-post-style{
	color: white;
}

.new-post-style{
	
		color: white;
}

.edit-post-style{
	
		color: white;
}
.title-style{
	color: white;
}
#new_comment{
		    margin-left: 42%;

	label{

	display: flex;
    padding-left: 62px;
	}
	
	display: flex;
    flex-direction: column;
    text-align: center;
    #comment_content{

    display: flex;
    justify-content: center;
    width: 22%;
    border-radius: 11px;
  
    }

    input[type="submit"]{

    display: flex;
    justify-content: center;
    text-align: center;
    width: 23%;
    border-radius: 19px;
    margin-top: 5px;


    }

}
#comment-list-style{

	display: flex;
    flex-direction: column;
    padding-left: 10px;

    margin-top: 14px;
    margin-left: 39%;
    /* border-style: solid; */
    margin-right: 41%;
    border-left: 2px dashed;
    border-right: 2px dashed;
    display: flex;
    justify-content: center;


    }
    #comment-heading-style{
    padding-left: 71px;
    
    font-size: 16px;
    
    }

    #post_content{

    height: 104px;
    width: 77%;
    }

    #new_image{

    #image_avatar{

    color: white;
    margin-top: 8px;
    }

    label{

    color: white;
    }

    }
 