// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	margin-top: -33px;
    margin-left: -33px;
    margin-right: -33px;
		nav{
			background-image: url(hor1.jpg);
			background-size: auto;
		    background-position: center;
			margin: 0;
			height: 34px;

			#horizontal-list{

				list-style: none;
				text-align: center;
				display: flex;
			    flex-direction: row;
			    justify-content: space-around;
			    	li{
			    		color: white;	
			    	}

			}
		}
}










#posts-index{
	
	text-align: center;

	    
			}

#material{
	
	position: fixed;
    top: 34%;
     a{color: white;}
		
		color: white;
		}
#material-links{
	
	    padding-top: 16px;
	    

}

.edit-link{
	
	    text-decoration: none;
}
#paragh-content{
	
	    padding-top: 18px;
	    color: white;
}
.show-tags{
	color: black;
}
#image-style{
	width: 300px;
	height: 300px;
}
#image-parent-style{
	
	    margin-top: 17px;
}
.sign-in-post-style{
	color: white;
}

.new-post-style{
	
		color: white;
}

.edit-post-style{
	
		color: white;
}
.title-style{
	color: white;
}