// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#posts-index{
	
	text-align: center;
	    
			}

#material{
	
	position: fixed;
    top: 34%;
		}
#material-links{
	
	    padding-top: 16px;
	     a{color: black;}

}

.edit-link{
	
	    text-decoration: none;
}
#paragh-content{
	
	    padding-top: 18px;
}
.show-tags{
	color: black;
}